In [1]:
import re
import pandas as pd

In [2]:
day_start = ["2019.12.01", "2019.12.08", "2019.12.15", "2019.12.22", "2019.12.29", "2020.01.05", "2020.01.12", "2020.01.19", "2020.01.26", "2020.02.02", "2020.02.09", "2020.02.16", "2020.02.23", "2020.03.01", "2020.03.08", "2020.03.15", "2020.03.22", "2020.03.29", "2020.04.05", "2020.04.12", "2020.04.19", "2020.04.26", "2020.05.03", "2020.05.10", "2020.05.17", "2020.05.24", "2020.05.31", "2020.06.07", "2020.06.14", "2020.06.21", "2020.06.28", "2020.07.05", "2020.07.12", "2020.07.19", "2020.07.26", "2020.08.02", "2020.08.09", "2020.08.16", "2020.08.23", "2020.08.30", "2020.09.06", "2020.09.13", "2020.09.20", "2020.09.27", "2020.10.04", "2020.10.11", "2020.10.18", "2020.10.25"]
day_end = ["2019.12.07", "2019.12.14", "2019.12.21", "2019.12.28", "2020.01.04", "2020.01.11", "2020.01.18", "2020.01.25", "2020.02.01", "2020.02.08", "2020.02.15", "2020.02.22", "2020.02.29", "2020.03.07", "2020.03.14", "2020.03.21", "2020.03.28", "2020.04.04", "2020.04.11", "2020.04.18", "2020.04.25", "2020.05.02", "2020.05.09", "2020.05.16", "2020.05.23", "2020.05.30", "2020.06.06", "2020.06.13", "2020.06.20", "2020.06.27", "2020.07.04", "2020.07.11", "2020.07.18", "2020.07.25", "2020.08.01", "2020.08.08", "2020.08.15", "2020.08.22", "2020.08.29", "2020.09.05", "2020.09.12", "2020.09.19", "2020.09.26", "2020.10.03", "2020.10.10", "2020.10.17", "2020.10.24", "2020.10.31"]

In [12]:
day_start_1 = ["2019.12.01", "2019.12.08", "2019.12.15", "2019.12.22", "2019.12.29", "2020.01.05", "2020.01.12", "2020.01.19", "2020.01.26", "2020.02.02", "2020.02.09", "2020.02.16", "2020.02.23", "2020.03.01", "2020.03.08", "2020.03.15", "2020.03.22", "2020.03.29"]
day_end_1 = ["2019.12.07", "2019.12.14", "2019.12.21", "2019.12.28", "2020.01.04", "2020.01.11", "2020.01.18", "2020.01.25", "2020.02.01", "2020.02.08", "2020.02.15", "2020.02.22", "2020.02.29", "2020.03.07", "2020.03.14", "2020.03.21", "2020.03.28", "2020.04.04"]

day_start_2 = ["2020.04.05", "2020.04.12", "2020.04.19", "2020.04.26", "2020.05.03", "2020.05.10", "2020.05.17", "2020.05.24", "2020.05.31", "2020.06.07", "2020.06.14", "2020.06.21", "2020.06.28", "2020.07.05", "2020.07.12", "2020.07.19", "2020.07.26", "2020.08.02", "2020.08.09", "2020.08.16", "2020.08.23", "2020.08.30", "2020.09.06", "2020.09.13", "2020.09.20", "2020.09.27", "2020.10.04", "2020.10.11", "2020.10.18", "2020.10.25"]
day_end_2 = ["2020.04.11", "2020.04.18", "2020.04.25", "2020.05.02", "2020.05.09", "2020.05.16", "2020.05.23", "2020.05.30", "2020.06.06", "2020.06.13", "2020.06.20", "2020.06.27", "2020.07.04", "2020.07.11", "2020.07.18", "2020.07.25", "2020.08.01", "2020.08.08", "2020.08.15", "2020.08.22", "2020.08.29", "2020.09.05", "2020.09.12", "2020.09.19", "2020.09.26", "2020.10.03", "2020.10.10", "2020.10.17", "2020.10.24", "2020.10.31"]

In [5]:
start = day_start[0]
end = day_end[0]

start_2 = day_start[1]
end_2 = day_end[1]

test = pd.read_csv(f'naver_article/article_list_{start}_{end}.csv', encoding='utf-8-sig', usecols = ['title', 'body'])
test_2 = pd.read_csv(f'naver_article/article_list_{start_2}_{end_2}.csv', encoding='utf-8-sig', usecols = ['title', 'body'])

In [28]:
start = day_start_1[0]
end = day_end_1[0]

article_1912_2004 = pd.read_csv(f'naver_article/article_list_{start}_{end}.csv', encoding='utf-8-sig', usecols = ['title', 'body'])

for i in range(len(day_start_1)-1):

    start = day_start_1[i+1]
    end = day_end_1[i+1]
    try:
        tmp = pd.read_csv(f'naver_article/article_list_{start}_{end}.csv', encoding='utf-8-sig', usecols = ['title', 'body'])
        article_1912_2004 = pd.concat([article_1912_2004, tmp], ignore_index=True)
    except:
        pass

In [34]:
article_1912_2004
article_1912_2004.to_csv('naver_article/article_1912_2004.csv', encoding='utf-8-sig', index=False)

In [26]:
start = day_start_2[0]
end = day_end_2[0]

article_2004_2010 = pd.read_csv(f'naver_article/article_list_{start}_{end}.csv', encoding='utf-8-sig', usecols = ['title', 'body'])

for i in range(len(day_start_1)-1):

    start = day_start_1[i+1]
    end = day_end_1[i+1]
    try:
        tmp = pd.read_csv(f'naver_article/article_list_{start}_{end}.csv', encoding='utf-8-sig', usecols = ['title', 'body'])
        article_2004_2010 = pd.concat([article_2004_2010, tmp], ignore_index=True)
    except:
        pass

In [35]:
article_2004_2010
article_2004_2010.to_csv('naver_article/article_2004_2010.csv', encoding='utf-8-sig', index=False)

In [36]:
pd.read_csv('naver_article/article_2004_2010.csv', encoding='utf-8-sig')

,title,body
0,"'극과 극' 외교·안보공약...""어느 국민 편이냐"" vs ""굴종 외교 접어야""","\n\n\n\n동영상 뉴스\n통합당 ""문재인 정부 중국인 입국 허용은 패착""민주당 ..."
1,日 코로나19 확진자 7000명 돌파… 다음주 1만명 전망 [특파원+],\n이틀 1000명꼴 확진...다음주 1만명 돌파 가능성 / 도시봉쇄론 거론되던 도...
2,키르기스서 발 묶인 교민 임시항공편에 귀국,\n (모스크바=연합뉴스) 유철종 특파원 = 신종 코로나바이러스 감염증(코로...
3,‘사회적 거리’도 사치…케냐는 구호식량에 ‘아수라장’,\n\n\n\n동영상 뉴스\n 사회적 거리두기가 사치인 곳이 있습니다. 아프리카 케...
4,쿠웨이트 교민 오고 기업인 가고…'진단키트' 외교,\n\n\n\n동영상 뉴스\n\t\n\t[뉴스데스크]◀ 앵커 ▶지난달부터 외국인에게...
...,...,...
24389,"밀라노로 떠난 정부 전세기, 313명 태우고 내일 오후 2시 도착","\n\t\n\t정부 ""이탈리아 교민 530여명 이송""…로마 전세기는 212명 태우고..."
24390,트럼프호텔도 200명 넘게 잘라…‘코로나 쇼크’에 美 해고 공포 심화,\n3월 넷째주 실업수당 신청 최대 650만건 예상도 미국 워싱턴에 있는 트럼프호텔...
24391,[외교문서]해외출장 중 쿠데타…긴박했던 요인 탈출기,\n기한만료 외교문서 해제…코로나 전세기 급파 현실과 오버랩[CBS노컷뉴스 홍제표 ...
24392,트럼프호텔도 200명 넘게 잘라…‘코로나 쇼크’에 美 해고 공포 심화,\n3월 넷째주 실업수당 신청 최대 650만건 예상도 미국 워싱턴에 있는 트럼프호텔...
24393,[외교문서]해외출장 중 쿠데타…긴박했던 요인 탈출기,\n기한만료 외교문서 해제…코로나 전세기 급파 현실과 오버랩[CBS노컷뉴스 홍제표 ...

In [37]:
pd.read_csv('naver_article/article_1912_2004.csv', encoding='utf-8-sig')

,title,body
0,"익스피디아, 경영진 퇴출에 주가 급등 [글로벌 이슈5]","\n[한국경제TV 강다은 캐스터][NATO 정상들 뒷담화에 트럼프 ""이중적""]NAT..."
1,"섭씨 100만도 화염 속으로… 파커, 태양풍 가속의 비밀 풀다",\n파커 태양 탐사선 수집 데이터 발표[서울신문]지난해 8월 발사된 인류 최초의 태...
2,각각 다른 얼굴로 2010년대 비춰준 10개의 태양,\n24번째 맞은 태양 주기의 10년 기록들2014년이 정점...지금은 극소기 통과...
3,[표지로 읽는 과학] '파커 솔라 프로브' 태양의 비밀을 파헤치다,\n네이처 제공 국제학술지 ‘네이처’는 12일 태양 앞에 다가선 미국항공우주국...
4,"[IF] 태양 근접한 '파커', 태양풍 비밀 밝혀… 통신망 붕괴 막는다",\n태양 주변 자기장이 갑자기 요동… 태양풍도 급가속하는 현상 발견회전속도도 가설보...
...,...,...
22441,"밀라노로 떠난 정부 전세기, 313명 태우고 내일 오후 2시 도착","\n\t\n\t정부 ""이탈리아 교민 530여명 이송""…로마 전세기는 212명 태우고..."
22442,트럼프호텔도 200명 넘게 잘라…‘코로나 쇼크’에 美 해고 공포 심화,\n3월 넷째주 실업수당 신청 최대 650만건 예상도 미국 워싱턴에 있는 트럼프호텔...
22443,[외교문서]해외출장 중 쿠데타…긴박했던 요인 탈출기,\n기한만료 외교문서 해제…코로나 전세기 급파 현실과 오버랩[CBS노컷뉴스 홍제표 ...
22444,트럼프호텔도 200명 넘게 잘라…‘코로나 쇼크’에 美 해고 공포 심화,\n3월 넷째주 실업수당 신청 최대 650만건 예상도 미국 워싱턴에 있는 트럼프호텔...
22445,[외교문서]해외출장 중 쿠데타…긴박했던 요인 탈출기,\n기한만료 외교문서 해제…코로나 전세기 급파 현실과 오버랩[CBS노컷뉴스 홍제표 ...